# .env.example

# MongoDB connection string
MONGODB_URI=<your_mongodb_uri>

# Redis URL
REDIS_URL=<your_redis_url>

# JWT Secret for authentication
JWT_SECRET=<your_jwt_secret>

# Google Client ID
GOOGLE_CLIENT_ID=<your_google_client_id>